//
//  Debug.xcconfig
//  ios-app-milio
//
//  Created by IG_Se7enzZ on 7/8/20.
//  Copyright © 2020 Core-MVVM. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIGURATION = Debug
BUILD_TYPE = DEBUG
BASE_URL = https:\/\/development-services.rightsledger.global/
BASE_SOCKET_URL = https:\/\/socket-core-dev.rightsledger.global
BASE_KEY_URL = https:\/\/dev-adc.obs.ap-southeast-3.myhuaweicloud.com/
